<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作业详情</title>
    <script src="http://localhost:8081/js/axios.js"></script>

</head>
<body>
<div id="app">
    <h1 align="center">作业详情</h1>
    <div align="center">
        <a href="http://localhost:8081/index.html" style="margin:60px;">首页</a>
        <a href="http://localhost:8081/user/center.html" style="margin:60px;">个人中心</a>
        <a href="http://localhost:8081/Work/work.html" style="margin:60px;">作业</a>
        <a :href="'http://localhost:8081/page/work/finish/'+wname" style="margin:60px;">作业完成情况</a>
    </div>
    <table align="center">
        <tbody>
        <tr>
            <td width="200">#</td>
            <td width="200">题目名</td>
            <td width="300">运行时间</td>
        </tr>
        <tr v-for="(item,index) in list">
            <td width="100">{{index+1}}</td>
            <td width="300"><a :href="'http://localhost:8081/page/work/problems/'+item.pid+'/'+wname">{{item.pname}}</a></td>
            <td width="300">{{item.ptime}}s</td>
        </tr>
        </tbody>
    </table>
    <div align="center">
        <input type="button" @click="attend" value="参加该作业">
        <div style="color: red" v-model="message">{{message}}</div>
    </div>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const app = {
        data() {
            return {
                list: [],
                message:"",
                wname:'',
                uid:''
            }
        },
        methods: {
            getCookie(name) {
                let reg = RegExp(name + '=([^;]+)');
                let arr = document.cookie.match(reg);
                if (arr) {
                    return arr[1];
                } else {
                    return '';
                }
            },
            attend: function (){
                var that=this;
                axios({
                    method:'post',
                    url:'http://localhost:8081/work/attend',
                    data:{
                        uid: that.uid,
                        wname: that.wname
                    }
                }).then(function (response){
                    const result = response.data;
                    that.message=result.statement;
                })
            }
        },
        mounted(){
            var that=this;
            that.uid = that.getCookie('uid');
            that.wname = '[[${wname}]]';
            console.log(that.wname);
            axios({
                method:'post',
                url:'http://localhost:8081/work/detail',
                data:{
                    uid: that.uid,
                    wname: that.wname
                }
            }).then(function (response){
                console.log(response.data);
                const result = response.data;
                result.problems.forEach(item=>{
                    that.list.push(item)
                })
                console.log(that.list)
            })
        }
    }
    Vue.createApp(app).mount('#app')
</script>
</body>

</html>

