<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <div id="app">
        <div>
            <div align="center">
                <h1>欢迎来到OJ</h1>
            </div>
            <div align="center">
                <a href="http://localhost:8081/problem/list.html" style="margin:60px;">题库</a>
                <a href="http://localhost:8081/user/center.html" style="margin:60px;">个人中心</a>
                <a href="http://localhost:8081/login.html" style="margin: 60px;">登录</a>
                <a href="http://localhost:8081/user/adduser.html" style="margin: 60px;">注册</a>
                <a href="http://localhost:8081/Work/work.html" style="margin:60px;">作业</a>
            </div>
            <div align="center">
                <h1>使用说明</h1>
                <p>提交后个状态代表的含义：</p>
                <p>0:答案正确，顺利通过全部案例</p>
                <p>1:编译出错，在编译时检测到语法存在问题，请检查语法</p>
                <p>2:结果出错，表示没有得到预想中的答案，请检查思路</p>
                <p>3:运行出错，代码正确编译，但是在运行是遇到未知错误比如/0等编译阶段检查不到的错误</p>
                <p>4:运行超时，代码的时间复杂的太高，请优化算法</p>
                <h1>注意事项</h1>
                <p>1、提交代码时请不要更改类名</p>
                <p>2、提交代码时请保证存在main函数</p>
                <p>3、如果遇上问题请联系管理员</p>
            </div>

        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type = "text/javascript">

    </script>
</body>
</html>